{% extends 'base.html' %}
{% block title%}
Write a pitch
{% endblock %}

<!--Content-->
{% block content%}
<div class="container">
    <form method="POST" class="form-register">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">
            Write your Pitch here
        </h1>
        <br>
        {{ form.category.label() }}
        {{ form.category(class='form-control') }}
        <br>
        {{ form.pitch.label() }}
        {{ form.pitch(class='form-control', placeholder='Write your pitch here.') }}
        <br>

        {{ form.submit(class='btn btn-lg btn-block btn-primary') }}

    </form>
</div>
{% endblock %}